<div class="card mt-4 view-devices">
  <section *ngIf="!DevicesData || !DevicesData.devices || DevicesData.devices.display.length == 0" class="mat-typography">
    <h3>There are no devices yet, go on and add one!</h3>
  </section>

  <div *ngIf="DevicesData && DevicesData.devices && DevicesData.devices.display.length > 0">
  <table mdbTable striped="true">
    <thead>
      <tr class=row>
        <th class="index"><span class="client-th">#</span></th>
        <th><span class="client-th">Client Type</span></th>
        <th><span class="client-th">Client Ratios</span></th>
        <th><span class="client-th">Client params</span></th>
        <th><span class="client-th">Action</span></th>
      </tr>
    </thead>
    <tbody>
      <tr class="row" mdbTableCol *ngFor="let display of DevicesData.devices.display;let i = index;">
        <td class="index" (click)="selectRow(display,i)" [ngClass]="{ 'gray': i==selectedRow}"><span class="client-td">{{i}}</span></td>
        <td (click)="selectRow(display,i)" [ngClass]="{ 'gray': i==selectedRow}"><span class="client-td">{{display.type}}</span></td>
        <td (click)="selectRow(display,i)" [ngClass]="{ 'gray': i==selectedRow}"><span class="client-td">{{display.ratios}}</span></td>
        <td (click)="selectRow(display,i)" [ngClass]="{ 'gray': i==selectedRow}"><span class="client-td">{{display.params}}</span></td>
        <td><span class="client-td">
            <mat-list-item class="device-submit">
                <button mat-flat-button color="primary" (click)="deleteDevice(display,i)">
                  <mat-icon>delete</mat-icon>
                  delete
                </button>
            </mat-list-item>
          </span></td>
      </tr>
    </tbody>
  </table>
  *Click on row to activate device preview.<br>
  *Mobile defined to display content from viewport smaller than 480px. 
  </div>
</div>