td.gray {
    background-color: blueviolet ; 
} 

th {
    background-color: lightblue;
}

td, th {
    padding-left:2px;
    width: 120px;
}

td.index, th.index {
    width: 30px;
}

tr {
    border-bottom: 2px solid violet ;
}
table {
    padding: 0 10px 10px 10px ;
}

.card.mt-4.view-devices {
    padding: 20px;
}
