.preview-wrapper {
    padding: 7px;
    background-color: rgb(201, 178, 185);
}

.mobile-preview {
    max-width: 480px;
}

.preview-template-select {
    mat-radio-button {
        margin-right: 30px;
    }
}
