<h2>Preview</h2>
<mat-radio-group class="preview-template-select" [(value)]="selection" #radioGroup="matRadioGroup">
    <mat-radio-button [checked]="true" value="app-tpl-a">Layout A</mat-radio-button>
    <mat-radio-button value="app-tpl-b">Layout B</mat-radio-button>
</mat-radio-group>
<div class="preview-wrapper" [ngClass]="[type == 'default-preview' ? type : type]">
    <span *ngIf="radioGroup.value == 'app-tpl-a' && type == 'desktop-preview'"><app-desktop-tpl-a></app-desktop-tpl-a></span>
    <span *ngIf="radioGroup.value == 'app-tpl-b' && type == 'desktop-preview'"><app-desktop-tpl-b></app-desktop-tpl-b></span>
    <span *ngIf="radioGroup.value == 'app-tpl-a' && type == 'mobile-preview'"><app-mobile-tpl-a></app-mobile-tpl-a></span>
    <span *ngIf="radioGroup.value == 'app-tpl-b' && type == 'mobile-preview'"><app-mobile-tpl-b></app-mobile-tpl-b></span>
    <span *ngIf="type == 'default-preview'"><app-default-tpl></app-default-tpl></span>

</div>
