<h3>
    mobile-tpl-b
  </h3>
  
  <!-- Navigation -->
  <div class="shop-item">   

    <!-- Page Content -->  
    <div class="container">
      <div class="row">
          <div class="col-lg-12">
            <app-product></app-product>
            <app-reviews></app-reviews> 
          </div>
      </div>
    </div>
  
  </div>
  