<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span style="flex: 1 1 auto;"></span>
  <span>
    <button mat-flat-button routerLink="/admin" color="primary">
      <mat-icon>add</mat-icon>
      admin
    </button>
    <button mat-flat-button routerLink="/content" color="primary">
      <mat-icon>list</mat-icon>
      content
    </button>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>