<div class="card mt-4 add-device">
  <mat-list>
    <mat-list-item class="device-type">
      <mat-form-field>
        <input matInput placeholder="Device Type" ([value])="device.type" (input)="device.type = $event.target.value">
        <mat-hint>currently supported values:<br> 'mobile', 'desktop'</mat-hint>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="device-ratios">
        <mat-form-field>
          <input matInput placeholder="Device Ratios"  
            [(ngModel)]="inputRatioNum" (change)="onRatiosKey(inputRatioNum)" value="50" type="number" name="quantity" min="0" max="100" required step="1">
        </mat-form-field>
    </mat-list-item>
    <div class="text-content">
    Selected Layout Display Ratios:<br>  
    Layout A: {{device.ratios[0]}}<br>
    Layout B: {{device.ratios[1]}}
    </div>  
    <mat-list-item>
      <mat-form-field>
        <input matInput placeholder="Device Params" 
          [value]="device.params" (input)="device.params = $event.target.value">
          <mat-hint>comma separated values for device params</mat-hint>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="device-submit">
      <button mat-flat-button color="primary" (click)="sendDevice()">
        <mat-icon>add device</mat-icon>
        add device
      </button>
    </mat-list-item>
  </mat-list>
</div>