.add-device { 
    .mat-list-item.mat-list-item {
        margin-bottom:25px;
        margin-top:10px;
    }


    .mat-list-item.device-type.mat-list-item {
        margin-top:7px;
        margin-bottom: 40px ;
    }

    .mat-list-item.device-ratios.mat-list-item {
        margin-top:0px;
        margin-bottom: 10px ;
    }

    .text-content {
        padding-left: 16px;
        margin-bottom: 15px;
    }

    .mat-list-item.device-submit.mat-list-item {
        margin-top:25px;
        margin-bottom: 7px;
    }

    button.mat-flat-button.mat-primary:focus {
        outline: 0 !important;
    }
}