<h3>
    mobile-tpl-a
  </h3>
  
  <!-- Navigation -->
  <div class="shop-item">   
    <app-navbar #navbar></app-navbar>

    <!-- Page Content -->  
    <div class="container">
      <div class="row">
          <app-sidebar class="col-lg-3"></app-sidebar>
          <div class="col-lg-9">
            <app-product></app-product>
            <app-reviews></app-reviews> 
          </div>
      </div>
    </div>
  
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </footer>
  </div>
  