
<div class="container">
  <h2>Admin Page</h2>
  <div class="row">
    <div class="col-lg-3">
      <app-add-device [clientsList]="clientsList"></app-add-device>
    </div>  
    <div class="col-lg-9">
      <app-clients-list  #clientsList [preview]="preview"></app-clients-list>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <app-preview #preview></app-preview>
</div>