<h3>
    desktop-tpl-b
  </h3>
  
  <!-- Navigation -->
  <div class="shop-item">   
    <app-navbar #navbar class="nav-bar-tpl-b"></app-navbar>
    <!-- Page Content -->  
    <div class="container">
      <div class="row">
        <app-sidebar class="col-lg-12 sidebar-tpl-b"></app-sidebar>
        <div class="col-lg-9">
          <app-product class="product-tpl-b"></app-product>
          </div>
        <div class="col-lg-3">
              <app-reviews class="reviews-tpl-b"></app-reviews> 
        </div>
    </div>
    </div>
  
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </footer>
  </div>
  